// Colors
$primary-color: #78c3b8;
$secondary-color: #fed9b7;
$tertiary-color: #c3dfe7;
$quaternary-color: #c3cfb7;
$quinary-color: #00afb9;
$senary-color: #0081a7;
$septenary-color: #ed5348;

$red-color: #b83d35;
$green-color: #228032;

$checkBox-color-one: #00ff11;
$checkBox-color-two: #228032;

$text-color: #252525;
$text-color-light: #f1f1f1;

// Gradients
$gradient-background: radial-gradient(
  circle,
  rgba(120, 195, 184, 1) 30%,
  rgba(195, 207, 183, 1) 70%,
  rgba(254, 217, 183, 1) 100%
);
$gradient-secondary: linear-gradient(45deg, #e74c3c, #8e44ad);

// Shadow
$shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.3);

// Opacity
$opacity-light: 0.8;
$opacity-dark: 0.6;
